
<ion-content *ngIf="allCharacters">
  <ion-list>

    <ion-content class="fondologin"> ... </ion-content>
    


    <ion-list-header>
      <ion-title> <p align="center" style="font-size:250%;color:rgb(6, 7, 7)">LISTADO DE PERSONAJES</p>
      </ion-title>
    </ion-list-header>
    <ion-item *ngFor = "let character of allCharacters.results " (click) = "openModal(character)">
      <ion-avatar slot="start">
        <img [src]="character.image">
      </ion-avatar>
      <ion-label>
        <h1>{{ character.name }}</h1>
        <h1>Origen: {{ character.origin.name }}</h1>
        <p class="energized"></p>Tipo: {{ character.type}}<p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

