@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Special+Elite&display=swap");

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
  background-color: rgba(35, 43, 93, 0.7);
  color: #fff;
  font-family: "Special Elite", monospace;

  th {
    text-align: left;
    font-size: 20px;
    padding: 6px;
    background-color: rgba(35, 43, 93, 0.7);
  }

  tr {
    &:nth-child(even) {
      background-color: rgba(35, 43, 93, 0.7);
    }

    td {
      padding: 8px 6px;
    }
  }
}

.App {
  background-image: url(../static/images/science-fiction-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 15px 5px 15px;
  font-family: "Permanent Marker", cursive;
  color: #fff;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 440px) {
    flex-direction: column;
  }

  h1 {
    margin: 0;
    font-weight: normal;
  }

  input {
    font-family: "Permanent Marker", cursive;
    padding: 0 20px;
    font-size: 18px;
  }
}

.navigation-bar {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Permanent Marker", cursive;
  padding-bottom: 15px;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

button,
.button {
  background-color: #232b5d;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  margin: 10px;
  box-shadow: 0 0 6px #fff;
}

.count {
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;

  .character-details {
    background-color: rgba(35, 43, 93, 0.7);
    padding: 15px;
    font-family: "Special Elite", monospace;
    width: 150px;
    height: 180px;
    text-align: center;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 6px #000;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 360px) {
      width: 85%;
      height: 90vw;
    }

    &:hover {
      h3 {
        bottom: 0;
      }
    }
    h3 {
      margin: 0;
      color: #fff;
      background-color: rgba(35, 43, 93, 0.75);
      padding: 15px;
      position: absolute;
      bottom: -100%;
      z-index: 10;
      transition: all 0.5s;
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      padding-bottom: 40px;

      .subtitle {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: #b3c7cc;
        margin-top: 8px;
        border-top: 1px solid #b3c7cc;
        padding-top: 8px;
      }
    }

    img {
      width: 90%;
      position: absolute;
      top: 5%;
      left: 5%;
    }

    .detail-icons {
      position: absolute;
      z-index: 12;
      right: 15px;
      bottom: 10px;
      color: #b3c7cc;
      font-size: 10px;
      text-align: center;
      display: flex;
      margin: -5px;
      .detail-icon-box {
        padding-left: 3px;
      }
      .fa,
      .fas,
      .far {
        margin: 0 2px;
        font-size: 23px;
      }
    }
  }
}
.count {
  display: flex;
  justify-content: space-between;

  button {
    background-color: #232b5d;
    color: #fff;
    font-size: 18px;
    font-family: "Special Elite", monospace;
    padding: 6px;
    box-shadow: 0 0 6px #000;
    border: none;
    margin: 10px 5px;
  }
}

.pagination-pages {
  text-align: center;
  padding-bottom: 20px;
  button {
    background-color: #232b5d;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;

    &.active {
      background-color: #0d1442;
    }
    &:hover {
      background-color: #3c4688;
    }
  }
}